.emptyWordBubble {
    position: absolute;
    width: 70px;
    height: 30px;
    left: 1125px;
    top: 795px;
    background: #E6E6E6;
    box-shadow: inset 0px 8px 4px -6px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
  }
  