.App {
  text-align: center;
}

.mainText {
  position: absolute;
  width: 372px;
  height: 42px;
  left: 719px;
  top: 255px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #252525;
  text-shadow: -2px -4px 3px #ffffff, 2px 4px 3px rgba(0, 0, 0, 0.25);
}

.head {
  position: absolute;
  width: 114px;
  height: 114px;
  left: 756px;
  top: 361px;
  background: #6c6c6c;
  border-radius: 50%;
}

.body {
  position: absolute;
  width: 185.65px;
  height: 93.5px;
  left: 719.67px;
  top: 467px;
  background: #6c6c6c;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bubble {
  display: grid;
  position: absolute;
  width: 306px;
  height: 90px;
  left: 895px;
  top: 353px;
  border: 2px solid #252525;
  border-radius: 20px;
  align-content: center;
  justify-content: center;
}

.bubble:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -30px;
  bottom: 12px;
  border: 15px solid;
  border-color: #252525 transparent transparent #252525;
  transform: rotate(180deg);
}

.bubble:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -25px;
  bottom: 14px;
  border: 15px solid;
  border-color: white transparent transparent white;
  transform: rotate(180deg);
}

.dndCont {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 482px;
  height: 230px;
  left: 719px;
  top: 610px;
  border: 1px solid #4b4b4b;
}
.wordConteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 90px;
  border: 1px solid blue;
}

.wordBubble {
  display: grid;
  width: 70px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  background: #ffffff;
  border: 1px solid #c9c9c9;
  box-sizing: border-box;
  box-shadow: 0px 8px 4px -6px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}
.emptyWordBubble {
  width: 70px;
  height: 30px;
  background: #e6e6e6;
  box-shadow: inset 0px 8px 4px -6px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}

.button {
  display: grid;
  position: absolute;
  width: 470px;
  height: 68px;
  left: 725px;
  top: 904px;
  background: linear-gradient(91.2deg, #ffffff 0%, #f2f2f2 100%);
  box-shadow: -2px -4px 8px #ffffff, 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 88px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  align-content: center;
  color: #6c6c6c;
}
